/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 04/05/2023, 9:52:25 AM
    Author     : Wilson
*/
h1 {
    text-align: center;
    align-content: center;
    font-size: 50px;
}
