/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 Apr 2023, 1:16:25 am
    Author     : User
*/
body {
    text-align: center;
    align-content: center;
}
h1 {
    text-align: center;
    align-content: center;
    font-size: 50px;
}
table {
    align-content: center;
    text-align: center;
    margin: 0 auto;
}